@using PCBuilder.Core.Models.Cart
@model AddComponentViewModel

<div class="details-component">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Component</h3>

                <div class="card-tools">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputStatus">Category</label>
                    <select asp-for="Category" id="inputStatus" class="form-control custom-select">
                        <option selected disabled>Select one</option>
                        <option>CPU</option>
                        <option>GPU</option>
                        <option>SSD</option>
                        <option>Motherboard</option>
                        <option>RAM</option>
                        <option>Power Supply</option>
                        <option>Hard Disk</option>
                        <option>Case</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Model">Model</label>
                    <input asp-for="Model" type="text" name="Model" class="form-control" value="@Model.Model">
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Manufacturer">Manufacturer</label>
                    <input asp-for="Manufacturer" type="text" name="Manufacturer" class="form-control" value="@Model.Manufacturer">
                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl">Image Url</label>
                    <input asp-for="ImageUrl" type="text" name="ImageUrl" class="form-control" value="@Model.ImageUrl">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" type="text" name="Price" class="form-control" value="@Model.Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <span class="form-group" id="specifications">
                    <label asp-for="Specifications">Specifications: </label>

                    @for (var i = 0; i < Model.Specifications.Count; i++)
                    {
                        <br />

                        <input asp-for="@Model.Specifications[i].Id" type="hidden" />
                        <label asp-for="@Model.Specifications[i].Title">Name</label>
                        <input asp-for="@Model.Specifications[i].Title" type="text" class="form-control" value="@Model.Specifications[i].Title">
                        <span asp-validation-for="@Model.Specifications[i].Title" class="text-danger"></span>

                        <label asp-for="@Model.Specifications[i].Description">Description</label>
                        <input asp-for="@Model.Specifications[i].Description" type="text" class="form-control" value="@Model.Specifications[i].Description">
                        <span asp-validation-for="@Model.Specifications[i].Description" class="text-danger"></span>
                    }
                </span>
            </div>
        </div>
        <div class="row aditional-buttons">
            <div class="col-12">
                <a asp-controller="Cart" asp-action="Cart" class="btn btn-secondary">Cancel</a>
                <button asp-controller="Cart" asp-action="AddComponent" method="post" type="submit" class="btn btn-success create-component-btn">Submit</button>
                <button type="submit" class="btn btn-success" id="create-specification">Add another specification</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js~/js/site.js"></script>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}