@using PCBuilder.Core.Models.Cart
@model CartViewModel

@foreach (var component in @Model.Components)
{
    <div class="info-box sidebar-cart">
        <img src="@component.ImageUrl" style="width: 80px"><img>
        <div class="info-box-content">
            <span class="info-box-text">@component.Manufacturer @component.Model </span>
            <span class="info-box-number">@component.Price $</span>
            <a class="btn btn-info btn-sm" asp-controller="Cart" asp-action="DetailsComponent" asp-route-id="@component.Id">
                <i class="far fa-credit-card"></i>
                Details
            </a>
        </div>
    </div>
}